<hr>
<footer class="footer">
<div class="content has-text-centered">
  <ul class="mt-5">
    <li><%= link_to 'Home' , root_path %></li>
    <li><%= link_to 'All Products', products_path %></li>
    <li><%= link_to 'All Categories', categories_path %></li>
    <li><%= link_to 'About', about_index_path %></li>
    <li><%= link_to 'Contact Us', contact_index_path %></li>
  </ul>
  <p><em>CopyWrong HalfCut Angling 2020</em></p>
  </div>
</footer>
