<div class="columns">

  <div class="column">
    <h2 class="title is-4">Products</h2>
    <ol class="ml-5">
      <% @products.each do |product| %>
        <li>
          <%= link_to product.product_name, product %>
          <em>(<%= product.category.category_name %>)</em>
        </li>
      <% end %>
    </ol>
    <p class="mt-4">
      <strong>
        <%= link_to 'ðŸ€ See All Products ðŸ€', products_path %>
      </strong>
    </p>
  </div>

  <div class="column">
    <h2 class = "title is-4">Categories</h2>
    <ol class="ml-5">
      <% @categories.each do |category| %>
        <li>
          <%= link_to category.category_name, category %>
          <%# <em>(<%= pluralize category.player_count, "Player" )</em> %>
        </li>
      <% end %>
    </ol>
    <p class="mt-4">
      <strong>
        <%= link_to 'ðŸ€ See All Categories ðŸ€', categories_path %>
      </strong>
    </p>
  </div>



</div>