<h1>Advanced Search</h1>

<%= form_with model: @search do |f| %>
    <%= f.label :product_name %>
    <%= f.text_field :product_name %>

    <%= f.label :category_id %>
    <%= f.select :category_id, options_for_select(@categories_search), include_blank: true %><br>

    <%= f.label :company %>
    <%= f.select :company, options_for_select(@companies_search), include_blank: true %><br><br>

    <%= f.submit "Search" %>
<% end %>

<p><%= link_to "Back", '/products' %></p>