<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= yield(:html_title) if content_for?(:html_title) %> HalfCut Angling Store</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <section class="section">
    <div class="container">
    <header class="header">
      <h1 class="title is-1"><%= link_to 'HalfCut Angling Store', root_path %></h1>
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a><%= link_to 'Home', root_path %> </a></li>
          <li><a><%= link_to 'Categories', categories_path %> </a></li>
          <li><a><%= link_to 'Products', products_path %> </a></li>
          <li class="is-active"><a aria-current="page">Breadcrumb</a></li>
        </ul>
      </nav>
      <%= debug session[:shopping_cart] %>
    </header>
          <%= form_with(url: search_products_path, method: :get, local: true) do %>
        <div class="field is-grouped mb-5">
          <div class="control is-expanded">
            <%= text_field_tag(:keywords, nil, class: "input", placeholder: 'Search For Products') %>
          </div>
          <div class="select is-primary">
            <%= select_tag("category_id", options_from_collection_for_select(categories_for_select, "id", "category_name"), placeholder: 'All')%>
          </div>
          <div class="control">
            <%= submit_tag("Search", class: "button is-primary") %>
          </div>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <p><%= flash[:notice]%></p>
      <% end %>
      <% if flash[:delete_notice] %>
        <p><%= flash[:delete_notice]%></p>
      <% end %>
      <%= yield %>
      <%= render partial: 'shared/footer' %>
    </div>
  </section>
  </body>
</html>
